.time {
  display: flex;
  width: 100%;
  padding: 35px;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}
.time__header {
  color: var(--pink-pink-500);

  font-family: Bangers;
  font-size: 50px;
  font-weight: 400;
}
.time__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.time__item {
  flex: 1;
  max-width: 436px;
  height: 316px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 2px 22px 0px rgba(0, 0, 0, 0.16);
}
.item__undeline {
  width: 20px;
  height: 3px;
  background-color: var(--menu-bg-color);
}
.item__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.item__content h2 {
  color: var(--menu-bg-color);
  /* 36px semibold */
  font-family: Nunito;
  font-size: 36px;
  font-weight: 700;
  line-height: 120%; /* 43.2px */
}
.item__content p {
  color: #726e6e;
  text-align: center;
  /* Nunito/23px/23px: Regular */
  font-family: Nunito;
  font-size: 23px;
  font-weight: 400;
  line-height: 150%; /* 34.5px */
}
.item__content span {
  color: var(--gray-gray-500, #666);
  /* Nunito/23px/23px: SemiBold */
  font-family: Nunito;
  font-size: 23px;
  font-weight: 700;
  line-height: 150%;
}
